@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
// Summary variables
$summary-red: hsl(0, 100%, 67%);
$summary-yellow: hsl(39, 100%, 56%);
$summary-green: hsl(166, 100%, 37%);
$summary-blue: hsl(234, 85%, 45%);
// Gradient variables
$bg1-gradient: hsl(252, 100%, 67%);
$bg2-gradient: hsl(241, 81%, 54%);
$circle1-gradient: hsla(256, 72%, 46%, 1);
$circle2-gradient: hsla(241, 72%, 46%, 0);
// Other variables
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

p {
  font-size: 18px;
}

.component {
  border: 1px solid red;
  width: 750px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.result {
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, $bg1-gradient, $bg2-gradient);
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.result-header {
  font-size: 22px;
  color: $light-lavender;
  margin-top: 35px;
}

.result-points {
  background: linear-gradient(to bottom, $circle1-gradient, $circle2-gradient);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-your-points {
  font-size: 66px;
  color: $white;
}

.result-max-points {
  font-size: 16px;
  color: $light-lavender;
}

.result-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin-top: 35px;
    text-align: center;
}

.result-grade {
    font-size: 28px;
    color: $white;
}

.result-feedback {
    font-size: 18px;
    color: $light-lavender;
}
