@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background: linear-gradient(-45deg, rgba(120, 87, 255, 0.3), rgba(46, 43, 233, 0.3));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  font-size: 18px;
}

.component {
  width: 750px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 25px;
  display: flex;
  background: white;
}

.result {
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, #7857ff, #2e2be9);
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.result-header {
  font-size: 22px;
  color: #c8c7ff;
  margin-top: 35px;
}

.result-points {
  background: linear-gradient(to bottom, #4e21ca, rgba(36, 33, 202, 0));
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-your-points {
  font-size: 66px;
  color: white;
}

.result-max-points {
  font-size: 16px;
  color: #c8c7ff;
}

.result-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  margin-top: 35px;
  text-align: center;
}

.result-grade {
  font-size: 28px;
  color: white;
}

.result-feedback {
  font-size: 18px;
  color: #c8c7ff;
}

.summary {
  display: flex;
  flex-direction: column;
  margin: 0px 35px 0px 35px;
  background: white;
}

.summary-header {
  font-size: 22px;
  margin-top: 35px;
  font-weight: 700;
  color: #303b5a;
  margin-bottom: 16px;
}

.summary-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 12px;
  width: 300px;
  height: 55px;
  border-radius: 12px;
}

.list-img,
.list-title {
  margin-left: 16px;
}

.list-max-points {
  margin-right: 16px;
}

.list-header {
  display: flex;
}

.list-points {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reaction-bg {
  background: rgba(255, 87, 87, 0.2);
}

.memory-bg {
  background: rgba(255, 176, 31, 0.2);
}

.verbal-bg {
  background: rgba(0, 189, 145, 0.2);
}

.visual-bg {
  background: rgba(17, 37, 212, 0.2);
}

.title-reaction {
  color: #ff5757;
}

.title-memory {
  color: #ffb01f;
}

.title-verbal {
  color: #00bd91;
}

.title-visual {
  color: #1125d4;
}

.list-your-points {
  color: #303b5a;
}

.list-max-points {
  color: #8a8a8a;
}

a:visited {
  color: white;
  text-decoration: none;
}

.btn {
  margin-top: 35px;
  height: 55px;
  background: #303b5a;
  color: white;
  font-size: 18px;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  background: rgba(48, 59, 90, 0.95);
  transform: scale(105%);
}

.btn:active {
  background: linear-gradient(to bottom, #7857ff, #2e2be9);
}
